{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		 <div class="page-wrapper">

        <div class="preloader">
            <div class="icon"></div>
        </div>

        <!-- Main Header -->
        <header class="main-header header-style-one header-style-four">

            <!-- Header Upper -->
            <div class="header-upper">
                <div class="inner-container clearfix">
                    <!--Logo-->
                    <div class="logo-box">
                        <div class="logo">
                            <a href="{{site.link}}" title="Crupee Software Development">
                        {% if logo %}
                            <img src="{{Image(logo).src}}" id="dLogo" class="main-logo" alt="Crupee Software Development" title="Crupee Software Development">
                        {% else %}
                       <img src="{{site.theme.link}}/assets/images/logo.png" id="dLogo" class="main-logo" alt="Crupee Software Development" title="Crupee Software Development">
                        {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu-2"></span><span
                                class="txt">Menu</span></div>

                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix one-page-scroll-menu">
                                    <li><a href="{{site.link}}" >Home</a></li> 
                                {% if fn('is_front_page')  %}
                                    {% for item in menu.items %}
                                        <li class="scrollToLink"><a href="{{ item.link }}">{{item.title}}</a></li>
                                   {% endfor %}
                                {% else %}
                                    {% for item in second_menu.items %}
                                        <li><a href="{{ item.link }}">{{item.title}}</a></li>
                                    {% endfor %}
                            {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="other-links clearfix">
                        <div class="link-box">
                            <div class="call-us">
                                    {% if conntact_number %}
                                <a class="link" href="tel:{{conntact_number}}">
                                    <span class="icon"></span>
                                    <span class="sub-text">Contact</span>
                                    <span class="number">{{conntact_number}}</span>
                                </a>
                                    {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--End Header Upper-->
        </header>
        <!-- End Main Header -->

        <!--Mobile Menu-->
        <div class="side-menu__block">
            <div class="side-menu__block-overlay custom-cursor__overlay">
                <div class="cursor"></div>
                <div class="cursor-follower"></div>
            </div><!-- /.side-menu__block-overlay -->
            <div class="side-menu__block-inner ">
                <div class="side-menu__top justify-content-end">
                    <a href="#" class="side-menu__toggler side-menu__close-btn"><img src="{{site.theme.link}}/assets/images/icons/close-1-1.png"
                            alt=""></a>
                </div><!-- /.side-menu__top -->


                <nav class="mobile-nav__container">
                    <!-- content is loading via js -->
                </nav>
                <div class="side-menu__sep"></div><!-- /.side-menu__sep -->
                <div class="side-menu__content">

                    <p>
                    {% if email %}
                    <a href="mailto:{{email}}">{{email}}</a> <br> 
                    {% endif %}
                    {% if conntact_number %}
                    <a href="tel:{{conntact_number}}">{{conntact_number}}</a></p>
                    {% endif %}
                    <div class="side-menu__social">
                    {% if facebook_url %}
                        <a href="{{facebook_url}}"><i class="fab fa-facebook-square"></i></a>
                    {% endif %}
                    {% if instagram_url %}
                        <a href="{{instagram_url}}"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if twitter_url %}
                        <a href="{{twitter_url}}"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                    {% if pinterest_url %}
                        <a href="{{pinterest_url}}"><i class="fab fa-pinterest-p"></i></a>
                    {% endif %}
                    </div>
                </div><!-- /.side-menu__content -->
            </div><!-- /.side-menu__block-inner -->
        </div><!-- /.side-menu__block -->

        <!--Search Popup-->
        <div class="search-popup">
            <div class="search-popup__overlay custom-cursor__overlay">
                <div class="cursor"></div>
                <div class="cursor-follower"></div>
            </div><!-- /.search-popup__overlay -->
            <div class="search-popup__inner">
                <form action="#" class="search-popup__form">
                    <input type="text" name="search" placeholder="Type here to Search....">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div><!-- /.search-popup__inner -->
        </div><!-- /.search-popup -->
{# <pre>
    {{ menu|print_r }}
</pre> #}
        {% block content %}
        {% endblock %}

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
            <script>
                site_url = {{ site.link }}
            </script>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
