<!-- Main Footer -->
        <footer class="main-footer">
            <div class="auto-container">
                <!--Widgets Section-->
                <div class="widgets-section">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="widget-content">
                                    <div class="logo">
                                    {% if logo %}
                                        <a href="{{site.link}}"><img id="fLogo" src="{{Image(logo).src}}" alt="" /></a>

                                    {% else %}
                                        <a href="{{site.link}}"><img id="fLogo" src="{{site.theme.link}}/assets/images/footer-logo.png" alt="" /></a>
                                    {% endif %}
                                    </div>
                                    <div class="text">Welcome to our web design agency. Lorem ipsum simply free text
                                        dolor sited amet cons cing elit.</div>
                                    <ul class="social-links clearfix">
                                        {% if facebook_url %}
                                            <li><a href="{{facebook_url}}"><span class="fab fa-facebook-square"></span></a></li>
                                        {% endif %}
                                        {% if twitter_url %}
                                            <li><a href="{{twitter_url}}"><span class="fab fa-twitter"></span></a></li>
                                        {% endif %}
                                        {% if instagram_url %}
                                            <li><a href="{{instagram_url}}"><span class="fab fa-instagram"></span></a></li>
                                        {% endif %}
                                        {% if pinterest_url %}
                                            <li><a href="{{pinterest_url}}"><span class="fab fa-pinterest-p"></span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <div class="widget-content">
                                    <h6>Explore</h6>
                                    <div class="row clearfix">
                                        <div class="col-md-6 col-sm-12">
                                            <ul>
                                                <li><a href="#">About</a></li>
                                                <li><a href="#">Meet Our Team</a></li>
                                                <li><a href="#">Our Portfolio</a></li>
                                                <li><a href="#">Latest News</a></li>
                                                <li><a href="#">Contact</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <ul>
                                                <li><a href="#">Support</a></li>
                                                <li><a href="#">Privacy Policy</a></li>
                                                <li><a href="#">Terms of Use</a></li>
                                                <li><a href="#">Help</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget info-widget">
                                <div class="widget-content">
                                    <h6>Contact</h6>
                                    <ul class="contact-info">
                                    {% if address %}
                                        <li class="address"><span class="icon flaticon-pin-1"></span> {{address}}</li>
                                    {% endif %}
                                    {% if conntact_number %}
                                        <li><span class="icon flaticon-call"></span><a href="tel:{{conntact_number}}">{{conntact_number}}</a></li>
                                    {% endif %}
                                    {% if email %}
                                        <li><span class="icon flaticon-email-2"></span><a
                                                href="mailto:{{email}}">{{email}}</a></li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget newsletter-widget">
                                <div class="widget-content">
                                    <h6>Newsletter</h6>
                                    <div class="newsletter-form">
                                        <form method="post" action=" ">
                                            <div class="form-group clearfix">
                                                <input type="email" name="email" value="" placeholder="Email Address"
                                                    required="">
                                                <button type="submit" class="theme-btn"><span
                                                        class="fa fa-envelope"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="text">Sign up for our latest news & articles. We won’t give you spam
                                        mails.</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner clearfix">
                        <div class="copyright">&copy; copyright 2021.</div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!--End pagewrapper-->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>



    <script src="{{site.theme.link}}/assets/js/jquery.js"></script>
    <script src="{{site.theme.link}}/assets/js/popper.min.js"></script>
    <script src="{{site.theme.link}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.theme.link}}/assets/js/TweenMax.js"></script>
    <script src="{{site.theme.link}}/assets/js/jquery-ui.js"></script>
    <script src="{{site.theme.link}}/assets/js/jquery.fancybox.js"></script>
    <script src="{{site.theme.link}}/assets/js/owl.js"></script>
    <script src="{{site.theme.link}}/assets/js/mixitup.js"></script>
    <script src="{{site.theme.link}}/assets/js/knob.js"></script>
    <script src="{{site.theme.link}}/assets/js/validate.js"></script>
    <script src="{{site.theme.link}}/assets/js/appear.js"></script>
    <script src="{{site.theme.link}}/assets/js/wow.js"></script>
    <script src="{{site.theme.link}}/assets/js/jQuery.style.switcher.min.js"></script>
    <script type="text/javascript" src="../../cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js">
    </script>
    <script src="{{site.theme.link}}/assets/js/jarallax.min.js"></script>
    <script src="{{site.theme.link}}/assets/js/jquery.easing.min.js"></script>
    <script src="{{site.theme.link}}/assets/js/custom-script.js"></script>

{# Copyright {{"now"|date('Y')}} #}