<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    {# <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" /> #}
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
   {#  <link href="{{site.theme.link}}/assets/css/bootstrap.css" rel="stylesheet" >
    <link href="{{site.theme.link}}/assets/css/fontawesome-all.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/flaticon.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/owl.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/animate.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/jquery-ui.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/hover.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/custom-animate.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.theme.link}}/assets/css/jarallax.css">
    <link href="{{site.theme.link}}/assets/css/style.css" rel="stylesheet">
    <!-- rtl css -->
    <link href="{{site.theme.link}}/assets/css/rtl.css" rel="stylesheet">
    <!-- Responsive File -->
    <link href="{{site.theme.link}}/assets/css/responsive.css" rel="stylesheet">

    <!-- Color css -->
    <link rel="stylesheet" id="jssDefault" href="{{site.theme.link}}/assets/css/colors/color-default.css"> #}

    <link rel="shortcut icon" href="images/favicon.png" id="fav-shortcut" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" id="fav-icon" type="image/x-icon">

    <!-- Responsive Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    {{function('wp_head')}}

{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Crupee Software Development Pvt.Ltd.</title>
    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/bootstrap.css" rel="stylesheet" >
    <link href="{{site.theme.link}}/assets/css/fontawesome-all.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/flaticon.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/owl.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/animate.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/jquery-ui.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/hover.css" rel="stylesheet">
    <link href="{{site.theme.link}}/assets/css/custom-animate.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.theme.link}}/assets/css/jarallax.css">
    <link href="{{site.theme.link}}/assets/css/style.css" rel="stylesheet">
    <!-- rtl css -->
    <link href="{{site.theme.link}}/assets/css/rtl.css" rel="stylesheet">
    <!-- Responsive File -->
    <link href="{{site.theme.link}}/assets/css/responsive.css" rel="stylesheet">

    <!-- Color css -->
    <link rel="stylesheet" id="jssDefault" href="{{site.theme.link}}/assets/css/colors/color-default.css">

    <link rel="shortcut icon" href="images/favicon.png" id="fav-shortcut" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" id="fav-icon" type="image/x-icon">

    <!-- Responsive Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head> #}